.App {
  width: 100%;
  margin: auto;
  padding-bottom: 10px;
}

.app {
  display: flex;
  justify-content: center;
}

.app-container {
  transform: translateY(50%);
  text-align: center;
}
.box {
  width: 200px;
  height: 200px;
  background: black;
}
