.header {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: black;
}

.header p {
  color: white;
  margin-left: -50px;
}

.header p:first-child {
  font-weight: bold;
  font-size: 25px;
  margin-bottom: -15px;
}
.rubik {
  cursor: pointer;
}
.rubik:hover {
  transform: rotate(30);
}

ul {
  list-style-type: none;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

li a {
  text-decoration: none;
  color: white;
}

.main {
  width: 70%;
  margin: auto;
  margin-top: 20px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.image {
  border-radius: 15%;
  width: 100%;
}

.image-container {
  position: relative;
}

.image-text {
  position: absolute;
  bottom: 3px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 20%;
  margin: auto;
  border-bottom-left-radius: 48px;
  border-bottom-right-radius: 48px;
  background-color: rgba(128, 128, 128, 0.545);
  transition: ease 800ms;
  display: none;
}

.item {
  cursor: pointer;
}
.item:hover .image-text {
  display: block;
   transition: ease 800ms;
}
.image-text p {
  text-align: center;
  font-weight: 600;
}

.item-text p {
  font-weight: bold;
  font-size: 20px;
}

.item-text p:nth-child(2) {
    color: gray;
}
.item-text p:first-child {
  margin-bottom: -10px;
}
.item-link {
  text-align: center;
  background-color: black;
  padding-top: 10px;
  border-radius: 20px;
  padding-bottom: 10px;
  width: 100%;
  cursor: pointer;
}

.item-link:hover {
  opacity: 0.6;
}

.item-link a {
  font-weight: 600;
  color: white;
  text-decoration: none;
}
